body {
  background-image: url("/image/picturee.png");
  background-repeat: repeat;
  background-size: cover;
}

.logo {
  width: 76px;
  height: 20px;
  color: #6070ff;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

#item {
  color: #6070ff;
  font-size: 30px;
  float: right;
  transition: color 0.5s ease;
}

#item:hover {
  color: darkorange;
}

h1 {
  color: #172b4d;
  width: 327px;
  height: 150px;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  line-height: 52px;
  display: flex;
  align-items: center;
  letter-spacing: 0.36px;
  font-weight: 700;
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
  width: 327px;
  height: 146px;
  padding-left: 30px;
  margin: 8px 8px 8px 8px;
  color: #344563;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.connect {
  color: #7f8cff;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  align-items: flex-start;
  left: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icone {
  list-style: none;
  display: flex;
  color: #505f79;
  gap: 14px;
  padding-left: 30px;
  transition: color 0.5s ease;
}

.icone:hover {
  color: brown;
}
