body {
  background-image: url("/image/picturee.png");
  background-repeat: repeat;
  background-size: cover;
}

.logo {
  width: 76px;
  height: 20px;
  color: #6070ff;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

#item {
  color: #6070ff;
  font-size: 30px;
  float: right;
  transition: color 0.5s ease;
}

#item:hover {
  color: darkorange;
}

h1 {
  color: #091e42;
  padding-top: 40px;
  padding-left: 60px;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.36px;
  font-weight: 700;
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
  width: 920px;
  height: 60px;
  padding-left: 60px;
  color: #344563;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  font-style: normal;
  flex-wrap: wrap;
  font-weight: 400;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.connect {
  color: #7f8cff;
  padding-left: 60px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  align-items: flex-start;
  left: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icone {
  list-style: none;
  display: flex;
  color: #505f79;
  gap: 8px;
  padding-left: 50px;
  transition: color 0.5s ease;
}

.icone:hover {
  color: brown;
}

.icone li {
  margin: 0 10px;
}

.icone a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.icone a:hover i {
  color: rgb(170, 12, 91);
}
